@model UserRoles.Models.ViewModels.UserListViewModel
@{
    ViewData["Title"] = "SellerList";
}

<div>
    <h2 class="h2-header">Seller List</h2>
    <div id="Sellers">
        @Html.Partial("_PartialTable", new ViewDataDictionary(this.ViewData){  {"type", "Seller"}  })
    </div>
</div>






