@model UserRoles.Models.ViewModels.ManageViewModels.UserCredentialViewModel
@{
    ViewData["Title"] = "SendCredentials";
}

<div class="register-form">
    <h2 class="h2-header">Send Credentials</h2>
    <form asp-controller="Roles" asp-action="SendEmail">
        <div class="form-control">
            <label><strong>Email:</strong></label>
            <input asp-for="Email" type="text" value="@Model.Email" />
        </div>
        <div class="form-control">
            <label><strong>Password:</strong></label>
            <input type="text"/>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
