@model UserRoles.Models.ViewModels.UserListViewModel
@{
    ViewData["Title"] = "TechnicalList";
}
<div>
    <h2 class="h2-header inline-header">Technical List</h2>
    <a href="@Url.Action("Register", "Account")" class="add-user"><i class="fas fa-plus-square fa-2x"></i></a>

    <div id="Technicals">
        @await Html.PartialAsync("_PartialTable", new ViewDataDictionary(this.ViewData)
        {
            {"type", "Technical"}
        })
    </div>
</div>
 