:root {
    --gray-light: #efefef;
}


html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
}

/* Login */
.body-login {
    width: 100%;
    height: 100vh;
    background: url(../images/background.jpg) 50% 50% no-repeat;
    background-size: cover;
    display: table;
}
.signin {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 3em;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.h1-login {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 0;
    font-weight: 200;
    color: #fff;
    font-size: 5rem;
    text-align: center;
}


.body-login input {
    display: block;
    width: 30rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.3);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: Source Sans Pro;
    font-weight: 200;
    font-size: 1rem;
    margin-bottom: 0.8rem;
    padding-left: 0.8rem;
    border-radius: 5px;
    color: #fff;
}

button.btn-signin {
    width: 31rem;
    height: 3rem;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.9);
    font-weight: 200;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.font-icon {
    float: right;
    margin-top: -52px;
    position: relative;
    z-index: 2;
    font-size: 1.5rem;
    color: white;
    opacity: 0.5;
    right: 1.3rem;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Bootstrap Overrides */

/* Change Role */
.change-role-email-display {
    padding-bottom: 5px;
}

/* Register form */
.register-form {
    margin: 0 auto;
    width: 300px;
}

.registration-header {
    margin-top: 20px;
    margin-bottom: 5px;
}

.checkbox-client label {
    font-size: 12px;
    font-weight: normal;
}

.page-header {
    margin-bottom: 20px;
    margin-top: 20px;
}


/* General */
.h2-header {
    margin-bottom: 25px;
    margin-top: 60px;
}

.h2-center{
    text-align: center;
}

.btn-save{
    margin-right: 20px;
}

.font-size-one-five{
    font-size: 1.5rem;
}

.details-text {
    color: #6c757d !important;
}

.bordered-box {
    border: 1px solid var(--gray-light);
    padding: 2rem;
    border-radius: .9rem;
    margin-bottom: 2rem;
    width: 60%;
    margin: auto;
}

.btn-outline-blue {
    position: relative;
    color: #7d7d7d;
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #7d7d7d;
    border-radius: 0;
    z-index: 1;
}

.add__row {
    color: #7d7d7d;
}

.btn-outline-blue::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 2px;
    width: 102%;
    height: 102%;
    transform: scaleY(0);
    transform-origin: bottom center;
    background: #25a6e2;
    border-bottom: 2px solid #25a6e2;
    border-radius: .25rem;
    z-index: -1;
    transition: transform 0.3s;
}

.btn-outline-blue:hover {
    color: white !important;
    border-radius: .30rem;
    z-index: 2;
}

    .btn-outline-blue:hover::after {
        transform: scaleY(1);
    }

.required-text {
    font-size: .7rem;
    font-weight: bold;
    float: right;
    line-height: 1.7rem;
}

.inline-header{
    display: inline-block;
    margin-right: 2rem;
}

.add-user i{
    color: #343a40;
    transition: transform 0.3s ease;
}

.add-user i:hover{
    transform: scale(1.2);
}

.link-align {
    float: right;
    line-height: 2rem;
}

.responsive-text-right {
    text-align: right;
}

.btn-outline-red {
    /*color: #7d7d7d;
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #7d7d7d;*/
    position: relative;
    color: #7d7d7d;
    margin-bottom: 2rem;
    font-weight: 600;
    border-bottom: 2px solid #7d7d7d;
    border-radius: 0;
    z-index: 1;
}

    .btn-outline-red::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        top: 2px;
        width: 100%;
        height: 100%;
        transform: scaleY(0);
        transform-origin: bottom center;
        background: #b22222;
        border-bottom: 2px solid #b22222;
        border-radius: .25rem;
        z-index: -1;
        transition: transform 0.3s;
    }

    .btn-outline-red:hover {
        color: white !important;
        border-radius: .30rem;
        z-index: 2;
    }

        .btn-outline-red:hover::after {
            transform: scaleY(1);
        }

.add-display-block {
    display: block;
}

/* User Tables */
.a-block-link {
    color: red;
}

.a-blue-link {
    color: #0080ff;
}

.a-yellow-link {
    color: #ffae42;
}

.a-unblock-link {
    color: #228b22;
}

.field-label {
    font-weight: bold;
}

.field-label, .details {
    display: inline-block;
    vertical-align: top;
}

.details-div {
    margin-bottom: 20px;
}

.userList-header h2{
    display: inline-block;
    vertical-align: middle;
}

.btn-add-user {
    margin-left: 20px;
    vertical-align: middle;
}

.footer-layout {
    margin-left: 20px;
    margin-top: 60px;
    text-align: center;
}

.fixed-table-loading{
    display:none;
}
/* Table head */

th.th-sortable {
    cursor: pointer;
}

th.th-sortable:hover{
    background-color:silver;
}

.table-head-title {
    display: inline-block;
}

.table-head-carets {
    display: inline-block;
    
}

.same-line {
    float: right;
    clear: right;
    margin-bottom: 1px;
    margin-top: 1px;
}

.table-head-title .table-head-carets {
    vertical-align: top;
}

/* Pagination on table views */
.bootstrap-table{
    position: relative;
}

.page-list{
    position: absolute;
    top: 0;
    right: 0;
}

/* Search bar on table views */
.float-left > input.form-control {
    width: 80%;
    margin-bottom: 20px;
}

/* Index */
.about-us{
    margin-bottom: 60px;
}


/* Sidebar .css */
.sidebar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #222;
    height: 100%;
    position: fixed;
    overflow: auto;
}

    .sidebar-nav li a {
        display: block;
        color: #9d9d9d;
        padding: 8px 16px;
        text-decoration: none;
    }

.sidebar-nav li a:hover {
    background-color: #555;
    color: white;
}

.sidebar-nav li a:active {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 900px) {
    .sidebar-nav {
        width: 100%;
        height: auto;
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    .sidebar-nav li a{
        text-align: center;
        float: none;
    }
}

/* Dropdown .css */

.dropdown-menu{
    background-color: #222222;
}
    .dropdown-menu li a {
        color: #9d9d9d;
    }

.last-item {
    margin-top: 15px;
}

/* Points Caret Up */
.up {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}




/* Nav dropdown */
li.dropdown-item > a{
    display: block;
}

a.dropdown-item {
    color: #fff;
    background-color: #545B5E;
    border-color: #4e555b;
}

.btn-secondary {
    color: #5a6268;
    background-color: #fff;
    border-color: #545b62;
}

/* Responsive resizes */
@media screen and (max-width: 400px) {

    /* Search bar for table */
    .float-left > input.form-control {
        width: 60%;
    }

    /* Login Screen */
    h1.h1-login {
        font-size: 2rem;
    }

    button.btn-signin {
        width: 18rem;
    }

    .body-login input {
        width: 17rem;
        margin: .8rem auto;
    }
}

@media screen and (max-width: 450px) and (min-width: 401px){

    /* Login Screen */
    h1.h1-login{
        font-size: 3rem;
    }

    button.btn-signin {
        width: 20rem;
    }

    .body-login input{
        width: 19rem;
        margin: .8rem auto;
    }

}

@media screen and (max-width: 699px) {

    /* Login Screen */
    .signin{
        padding: 1em;
    }

    /* Details Page */
    .bordered-box{
        width: 100%;
    }
}

@media screen and (max-width: 799px) and (min-width: 700px) {

    /* Details Page */
    .bordered-box {
        width: 90%;
    }
}

@media screen and (max-width: 899px) and (min-width: 800px) {

    /* Details Page */
    .bordered-box {
        width: 80%;
    }
}

@media screen and (max-width: 999px) and (min-width: 900px){

    /* Details Page */
    .bordered-box {
        width: 70%;
    }
}
