
@{
    ViewData["Title"] = "EmailConfirmation";
}

<h2 class="h2-header">Waiting For Email Confirmation</h2>

<div>
    <p>User has successfully registered!
       They must now confirm their email otherwise they will not be able to log-in
    </p>
</div>